* {
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: 'Prompt';
    color: #fff;
    background-color: #191919;
}

header {
    width: 100%;
    height: 120px;
    top: 30px;
    display: sticky;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 10px;
}

article.social-icons {
    width: 480px;
    background-color: #4e4e4e;
    border-radius: 20px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

figure {
    display: inline-block;
}

img {
    width: 48px;
    height: 48px;
}

table#profile-info{
    height: 50px;
    background-color: #4e4e4e;
    padding: 0 10px;
    position: relative;
    top: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 50px;
}

#profile-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}

#profile-info h1 {
    font-size: 32px;
    text-align: left;
    line-height: 1.2;
}

#profile-info h3 {
    font-size: 20px;
    line-height: 0.9;
}